<nav class="header p-4">
    <ul class="flex sm:justify-center space-x-4">
        <li><a class="rounded-lg px-3 py-2 text-slate-700 font-medium hover:bg-slate-100 hover:text-slate-900 cursor-pointer" routerLink="/">Inicio</a></li>
        <li><a class="rounded-lg px-3 py-2 text-slate-700 font-medium hover:bg-slate-100 hover:text-slate-900 cursor-pointer" routerLink="/about">Acerca de Mi</a></li>
        <li><a class="rounded-lg px-3 py-2 text-slate-700 font-medium hover:bg-slate-100 hover:text-slate-900 cursor-pointer" routerLink="/projects">Proyectos</a></li>
        <li><a class="rounded-lg px-3 py-2 text-slate-700 font-medium hover:bg-slate-100 hover:text-slate-900 cursor-pointer " routerLink="/contact">Contacto</a></li>
    </ul>

</nav>